@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-green: #50fa7b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.227);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--color-green);
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
}

#wrapper h1 a {
    text-decoration: none;
}

#wrapper h1 a:hover {
    color: var(--color-green);
    transition: 200ms;
}


#wrapper p {
    font-size: 24px;
    line-height: 34px;
    max-width: 500px;
    margin: 8px auto;
}

.list {
    text-align: center;
}

.list p {
    color: blueviolet;
    font-size: 18px;
    margin: 0 0 32px 0;
}

.list ul {
    display: inline-table;
}

.list li {
    color: var(--color-green);
    font-weight: bold;
    text-align: justify;
}

#links-footer {
    margin: 48px 0 64px 0;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
    margin-bottom: 60px;
}